@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.admin-top img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
 }
 .admin-top .top p {
 }
 .about .admin-top .top_2 .title {
    color: white;
    letter-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
 }
 .bottom-extra {
     height: 75rem;
     background-color: azure;
 }