@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.about {
    padding-bottom: 20rem;
}
.admin-top img {
    height: 140px;
    width: 100%;
    border-radius: 0;
    object-fit: cover;
 }
 .about .admin-top .top_2 .title {
    color: white;
    letter-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
 }
.about_desc h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.about_desc p {
    padding: 0 8rem;
    font-size: 1.5rem;
}
.about_desc {
    font-family: 'Space Grotesk', sans-serif;
}