.admin {

}

.admin h1 {
    text-align: center;
    font-weight: bold;
    color: #6a6a6a;
    margin-bottom: 15px;
}

.admin .parent {
    display: flex;
}

.admin .sec-products {
    flex: 2;
    border: 1px solid #fafafa;
    border-radius: 5px;
    padding: 10px;
    margin: 0 15px;
}

.admin .sec-discount {
    flex: 1;
    border: 1px solid #fafafa;
    border-radius: 5px;
    padding: 10px;
    margin: 0 15px;
}

