@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.admin_contain {
    height: 85rem;
    padding-bottom: 20rem;
    background-color: azure;
}
.admin-top img {
   height: 140px;
   width: 100%;
   border-radius: 0;
   object-fit: cover;
}
.admin-top .top_2 .title {
   color: white;
   letter-spacing: 15px;
   font-size: 3rem;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-transform: uppercase;
}
.bottom {
    height: 45rem;
}
.sec-header {
    padding-top: 0.6rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.822);
    font-family: 'Space Grotesk', sans-serif;
}

.sec-header .form-control {
    border-radius: 0;
}
.sec-header .input-group-text {
    border-radius: 0;
}
#saveBtn {
    border-radius: 0;
    width: 120px;
}
