@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  
}
.admin-top img {
   height: 200px;
   width: 100%;
   border-radius: 10px;
   object-fit: cover;
}
.admin-top .top p {
}
.admin-top .top-2 p {
   color: white;
   letter-spacing: 15px;
   font-family: 'Gochi Hand', cursive;
   text-transform: uppercase;
}
.bottom {
    height: 30rem;
}
.sec-header {
    background-color: white;
}
.bottom-extra {
    
}

