@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.cart {
    height: 85rem;
    padding-bottom: 10rem;
    font-family: 'Space Grotesk', sans-serif;
}
.cartTopSect {
    height: 7rem;
    background-color: white;
}
.cart h2 {
    text-align: center;
}
.cart h5 {
    color: #6a6e6b;
    text-align: center;
} 
.cartProductList {
    height: 65rem;
    background-color: white;
}
.cartProductList h4 {
    padding-left: 1rem;
}
.products {
    padding: 1rem;
    background-color: rgba(196, 242, 242, 0.73);  
}
.products ul {
    margin-left: -2rem;

}
.cartPricesList {
    height: 15rem;
    background-color: white;
}
.cartPricesList .cartPrice h4 {
    text-align: right;
    padding-right: 1rem;
}
.cartPricesList .cartPrice li {
    list-style: none;
    text-align: right;
    padding-right: 1rem;
}
.cartPrice {
    padding: 1rem 1rem;
}
.cartPrice h5 {
    text-align: right;
    padding-right: 1rem;
} 
.payNow {
    align-items: center;
}

