@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.catalog {
    min-height: 500px;
    font-family: 'Space Grotesk', sans-serif;
}
.admin-top img {
    height: 140px;
    width: 100%;
    border-radius: 0;
    object-fit: cover;
 }
.cat-container {
    background-color: azure;
}
.catalog .admin-top .top_2 .title {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5rem;
    letter-spacing: 10px;
    font-weight: 500;
    text-transform: uppercase;
 }
.catalog h5 {
    text-align: center;
}
.list-container {
    /* height: 50rem; */
}
