@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.admin-top .donut_back {
    height: 45rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
 }
 .admin-top .top_2 #donutTitle{
    color: rgba(0, 0, 0, 0.733);
    letter-spacing: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6rem;
    font-weight: 500;
    text-transform: none;
 }
 .admin-top .top_2 .title span {
   position: relative;
   display: inline-block;
   letter-spacing: 15px;
   font-weight: bold;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: rgba(227, 197, 121, 0.888);
   animation: flip 2s infinite;
   animation-delay: calc(.2s * var(--i));
}
@keyframes flip {
  0%, 80% {
     transform: rotateY(360deg);
  }
}
 .admin-top .top_3 .title {
    color: azure;
    letter-spacing: 8px;
    font-size: 4rem;
    font-family: 'Space Grotesk', sans-serif;
    text-transform: none;
    font-weight: bold;
 }
 .aboutUs .threePic img {
    height: 450px;
    width: 100%;
    object-fit: cover;
 }
 .aboutUs .middlePic {
    background: hsl(0 0% 80% / 0.5);
    background-size: cover;
 }
 .aboutUs .middlePic h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.778);
    margin-top: 2rem;
    backdrop-filter: blur(0.2rem);
 }
 .aboutUs .middlePic h4 {
    font-family: 'Space Grotesk', sans-serif;
    color: goldenrod;
    backdrop-filter: blur(0.2rem);
 }
 .aboutUs .middlePic p {
    font-family: 'Space Grotesk', sans-serif;
    color: rgba(0, 0, 0, 0.742);
    font-size: 1.2rem;
    margin-top: 5rem;
    backdrop-filter: blur(0.2rem);
 }
 .second_sec {
   height: 600px;
   width: 100%;
   display: inline-flex;
   margin-inline: auto;
 } 
 .second_sec .second_left {
   height: 600px;
   width: 50%;
   background-color: lightblue;
 }
 .second_sec.second_left img {
   object-fit: scale-down;
 }
 .second_sec .second_right {
   height: 600px;
   width: 50%;
   display: flex;
 }
 .second_sec .second_right .small_one {
   height: 295px;
   width: 49%;
   background-color:lightblue;
   display: flex;
   position: relative;
 }
 .second_sec .second_right .small_two {
   height: 295px;
   width: 49%;
   background-color: lightblue;
 }
 .second_sec .second_right .small_three {
   height: 295px;
   width: 49%;
   margin-top: 2px;
   background-color: lightblue;
 }
 .second_sec .second_right .small_four {
   height: 295px;
   width: 49%;
   margin-top: 2px;
   background-color: lightblue;
 }
#amazingBtn {
   background-color: azure;
   color: black;
   border: none;
   margin-top: 3rem;
   font-family: 'Space Grotesk', sans-serif;
   font-size: 1.8rem;
   text-transform: uppercase;
   font-weight: bold;
} 
#shopNowBtn {
   border-radius: 0;
}
.third-sec {
   height: 550px;
   width: 100%;
}
.third-sec .third_left {
   height: 375px;
   width: 50%;
   padding: 5rem 5rem;
   padding-left: 6rem;
   padding-right: 6rem;
   margin-top: 5rem;
   display: block;
   font-family: 'Space Grotesk', sans-serif;
   text-transform: uppercase;
}
.third-sec .third_right {
   height: 550px;
   width: 50%;
}
.third-sec .third_right img {
   object-fit: cover;
}
 .extra_space {
   height: 10rem;

 }