@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.admin-top .donut_back {
    height: 45rem;
    width: 100%;
    object-fit: cover;
 }
 .admin-top .top_2 #donutTitle{
    color: rgba(0, 0, 0, 0.733);
    letter-spacing: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6rem;
    font-weight: 500;
    text-transform: none;
 }
 .admin-top .top_2 .title span {
   position: relative;
   display: inline-block;
   letter-spacing: 15px;
   font-weight: bold;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: rgba(227, 197, 121, 0.888);
   animation: flip 2s infinite;
   animation-delay: calc(.2s * var(--i));
}
@keyframes flip {
  0%, 80% {
     transform: rotateY(360deg);
  }
}
 .admin-top .top_3 .title {
    color: azure;
    letter-spacing: 8px;
    font-size: 4rem;
    font-family: 'Gochi Hand', cursive;
    text-transform: none;
    font-weight: 500;
 }
 .aboutUs .threePic img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
 }
 .aboutUs .middlePic {
    background: hsl(0 0% 80% / 0.5);
    background-size: cover;
 }
 .aboutUs .middlePic h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.778);
    margin-top: 2rem;
    backdrop-filter: blur(0.2rem);
 }
 .aboutUs .middlePic h4 {
    font-family: 'Gochi Hand', cursive;
    color: goldenrod;
    backdrop-filter: blur(0.2rem);
 }
 .aboutUs .middlePic p {
    font-family: 'Gochi Hand', cursive;
    color: rgba(0, 0, 0, 0.742);
    font-size: 1.2rem;
    margin-top: 5rem;
    backdrop-filter: blur(0.2rem);
 }