@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.admin-top img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
 }
 .wish-list .admin-top .top_2 .title {
    color: rgba(0, 0, 0, 0.683);
    letter-spacing: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
 }
 .wish-list input {
   font-family: 'Space Grotesk', sans-serif;
 }
 .wish-list #button-addon2 {
   font-family: 'Space Grotesk', sans-serif;
 }
 .bottom-extra {
    background-color: azure;
 }