@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap'); 

.footer {
    height: 15rem;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: center; 
    font-family: 'Space Grotesk';
    color: white;
    margin-top: 2rem;
    padding: 20px 10px 10px 10px;
} 
.footer h6 {
    text-transform: uppercase;
}
.subscribe {
    color: black;
}
.subscribe .subInput {
    border-radius: 0;
}

