@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.navbar {
    font-family: 'Space Grotesk', sans-serif;
}
.navbar .form {
    font-family: 'Space Grotesk', sans-serif;
}
#title {
    color: rgba(227, 197, 121, 0.888);
}
#navSearchInput {
    border-radius: 0;
}
#searchBtn {
    color: rgba(227, 197, 121, 0.888);
    border-color: rgba(227, 197, 121, 0.888);
    border-radius: 0;
    font-family: 'Space Grotesk', sans-serif;
}
#userName {
    color: white;
}