
.product {
    display: inline-block;
    width: 270px;
    height: 330px;
}   
.list-group .totalPrice {
    color: rgb(245, 83, 83);
    font-weight: bold;
}
.list-group .btn {
    background-color: #ebcb56c5;
    color: black; 
    border: none;
    border-radius: 50px;
}
