.quantPicker button {
    width: 35px;
    margin: 0 5px;
    padding: 3px 7px;
    border-radius: 50px;
    border: none;
}

.quantPicker label {
    display: inline-block;
    margin: 0 5px;
    font-weight: bold;
}
